* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

@font-face {
    font-family: cocogoose;
    src: url(../font/Cocogoose\ Pro-trial.ttf);
}

body {
    font-family: cocogoose;
    background-image: url(../img/background.jpg);
    background-attachment: fixed;
    background-size: cover;
}

/* aqui começa o cabeçalho */
header {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    z-index: 3;
      
}

header div {
    display: flex;
    align-items: center;
}

header div * {
    display: inline;
}

header nav {
    position: absolute;
    right: 0px;
    margin-right: 10px;
}

header nav ul li {
    margin-right: 20px;
    padding: 5px;
    text-transform: uppercase;
    font-size: 0.9rem;
}

header nav ul li a {
    text-decoration: none;
    color: #B22222;
}

header nav ul li:hover {
    background-color: #B22222;
    transition: .5s ease;
}

header nav ul li a:hover {
    color: white;
}

header div img {
    width: 5%;
    margin: 7px;
    margin-left: 10px;
}

header div h2 {
    font-size: 16px;
}

/* aqui começa o banner */

main {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

#banner {
    height: 640px; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    color: white;
    margin-bottom: 30px;
  }

#banner h1 {
    font-size: 4rem;
    margin-bottom: 15px;
}

#banner p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

#banner button {
    background-color: white;
    color: #1C1C1C;
    border-radius: 30px;
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: cocogoose;
    font-size: 0.9rem;
    border: none;
}

#banner button:hover {
    background-color: #1C1C1C;
    color: white;
    transition: .5s ease;
}

/* aqui começa as categorias */

#categorias {
    width: 85%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.categoria {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: relative;
}

.categoria .textocategoria {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
}

.categoria .textocategoria:hover {
    opacity: 0.8;
    transition: .5s ease;
}

.categoria h3 {
    position: absolute;
    text-transform: uppercase;
}

.categoria h3 a {
    text-decoration: none;
    color: white;
}

.categoria img {
    width: 100%;
    opacity: 0.5;
}


/* aqui começa os destaques e recomendados */

.secao {
    width: 85%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.secao h3 {
    display: block;
    width: 100%;
    position: relative;
    left: 0px;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.filme {
    width: 30%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
}

.filme img {
    width: 100%;
}

.filme .texto {
    width: 100%;
    height: calc(100% - 5px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    position: absolute;
    right: 0px;
    top: 0px;
    opacity: 0;
}

.filme .texto:hover {
    opacity: 0.9;
    transition: .5s ease;
}


.filme .texto h4 a {
    text-decoration: none;
    color: white;
}

.filme .texto p {
    font-weight: lighter;
    font-size: smaller;
    color: #4F4F4F;
    padding-top: 10px;
}

/* aqui começa o footer */

footer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

footer nav {
    background-color: #B22222;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer nav ul li {
    display: inline-block;
    padding-right: 15px;
    font-weight: lighter;
    font-size: smaller;
    text-transform: uppercase;
}

footer nav ul li a {
    color: rgba(250, 250, 250, 0.5);
    text-decoration: none;
}

footer nav ul li a:hover {
    color: rgba(250, 250, 250, 1);
}

footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #800000;
    width: 100%;
}

footer div p {
    color: black;
    font-size: smaller;
}

@media (max-width: 1279px) {
    #categorias, .secao {
        width: 98%;
    }
}

@media (max-width: 768px) {
    #banner {
        height: 500px;
    }

    #banner h1 {
        font-size: 3rem;
    }

    #banner p {
        font-size: 1rem;
    }

    #categorias, .secao {
        width: 90%;
    }

    .categoria {
        width: calc(100%/3 - 20px);
        margin-bottom: 20px;
    }

    .filme {
        width: 47%;
        margin-bottom: 30px;
    }
}

@media (max-width: 670px) {
    header nav {
        margin-right: 5px;
    }
    header nav ul li {
        padding: 3px;
        margin-right: 5px;
        font-size: 0.7rem;
    }

    #banner {
        height: 300px;
    }

    #banner h1 {
        font-size: 2.2rem;
        margin-bottom: 7px;
    }

    #banner p {
        font-size: 0.8rem;
        margin-bottom: 20px;
    }

    #banner button {
        border-radius: 30px;
        padding: 5px;
        padding-left: 12px;
        padding-right: 12px;
        font-size: 0.6rem;
    }
}
 
@media (max-width: 480px) {
    header div h2 {
        display: none;
    }

    header div img {
        width: 7%;
        margin: 5px;
        margin-left: 6px;
    }

    header nav {
        margin-right: 3px;
    }
    header nav ul li {
        padding: 3px;
        margin-right: 3px;
        font-size: 0.6rem;
    }

    #banner {
        height: 250px;
    }

    #banner h1 {
        font-size: 1.7rem;
        margin-bottom: 5px;
    }

    #banner p {
        font-size: 0.7rem;
        margin-bottom: 15px;
    }

    #banner button {
        border-radius: 25px;
        font-size: 0.5rem;
    }
    
    #categorias {
        margin-bottom: 10px;
    }

    #categorias h3 {
        font-size: 0.8rem;
    }

    .secao h3 {
        font-size: 1.1rem;
    }

    .filme {
        width: 100%;
    }

    footer {
        height: 60px;
    }
    
    footer nav ul li {
        padding-right: 7px;
        font-size: 0.6rem;
    }
    
    footer div p {
        font-size: 0.6rem;
    }
}